.ipynb_checkpoints/
*.png
*.ods
*.csv
*.txt
*.pyc
*.xml
*.swp
*.log
*.db
*.tar.gz
*.pdf
*.model
*.odp
nohup*
comparison*
pubdates
nlputils
sim_scores
scores_*
patent_csv_sheets
cat_a61m
sim_scores_pat_pairs
wmd-master
learn_idf_weights.py
.DS_Store
master_thesis/
all_pairs_algos/
