[[source]]
verify_ssl = true
name = "pypi"
url = "https://pypi.python.org/simple"

[packages]
numpy = "*"
jupyter = "*"
sklearn = "*"
scipy = "*"
unidecode = "*"
gensim = "*"
pandas = "*"
sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "2.7"
